image: 
  - Visual Studio 2019
platform: x64
configuration: Release
install:
  # install winfsp
  - appveyor DownloadFile https://github.com/billziss-gh/winfsp/releases/download/v1.6/winfsp-1.6.20027.msi
  - start /wait msiexec /i winfsp-1.6.20027.msi /qn ADDLOCAL=ALL
  # setup cygwin build tools
  - C:\cygwin64\setup-x86_64.exe -qBqgnNdO -l C:\cygwin64\var\cache\setup -R c:\cygwin64 -s http://cygwin.mirror.constant.com -P gcc-g++,make,automake,patch,git,libglib2.0-devel,cygport,meson >nul
  # setup ubuntu in wsl
  - wslconfig /u Ubuntu-18.04
  - rd /s /q C:\WSL\Ubuntu1804
  - ps: ci\setup_wsl.ps1
  # setup ssh keys
  - C:\Python38\python -m pip install --disable-pip-version-check paramiko pyyaml psutil >NUL
  - C:\Python38\python ci\setupssh.py support@localhost support
build_script:
  - git submodule init && git submodule update
  - C:\cygwin64\bin\bash -e -l -c "/cygdrive/c/Program\ Files\ \(x86\)/WinFsp/opt/cygfuse/install.sh"
  - C:\cygwin64\bin\bash -e -l -c "cd /cygdrive/c/projects/sshfs-win && make -j8"
test_script:
  - C:\Python38\python -c "import datetime;print('20'+str(datetime.datetime.now().timetuple().tm_yday).zfill(3))"
  - start /wait msiexec /i  .build\x64\dist\sshfs-win-3.5.20073-x64.msi /qn
  - net use Z: \\sshfs.k\support@localhost\..\..
  - net use /d Z:
  - ci\mount_sshfs.bat support localhost 22 Z:
  - timeout /t 10
  - ps: |
      Z:
      cd Z:\tmp
      echo > test
      dir
      C:\projects\sshfs-win\ci\testfs.bat
      
artifacts:
  - path: .build\x64\dist\sshfs-win-*.msi
    name: sshfs-win

